apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-bluegreen
  namespace: aceest-fitness
  labels:
    app: aceest-fitness
spec:
  type: LoadBalancer
  selector:
    app: aceest-fitness
    deployment: blue  # Initially pointing to BLUE deployment
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
    nodePort: 30090
  sessionAffinity: None
