apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-canary
  namespace: aceest-fitness
  labels:
    app: aceest-fitness
spec:
  type: LoadBalancer
  selector:
    app: aceest-fitness  # Selects BOTH stable and canary pods
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
    nodePort: 30100
  sessionAffinity: None
